 <div class="bottom">

     <div class="social-media-icons">
    <div class="intro">
      <h4>Passionate MERN Developer - Md Shamim Akhter</h4>
    </div>
    <div class="Social">
  <h4>SOCIAL</h4>
  <a href="https://www.facebook.com/profile.php?id=100047398065321" target="_blank"><i class="fab fa-facebook-f" style="font-size: 24px;"></i></a>
  
  <a href="https://instagram.com/saltech23?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><i class="fab fa-instagram" style="font-size: 24px;"></i></a>
  <a href="https://www.linkedin.com/in/md-shamim-akhter-b12624193" target="_blank"><i class="fab fa-linkedin" style="font-size: 24px;"></i></a>
  <a href="https://github.com/techjmi" target="_blank"><i class="fab fa-github" style="font-size: 24px;"></i></a>
  <a href="https://www.hackerrank.com/techjmi?hr_r=1" target="_blank"><i class="fab fa-hackerrank" style="font-size: 24px;"></i></a>
</div>

  </div>
  <footer>
    <p>&copy; Copyright 2023  Developed By &nbsp <a href="https://portfolio.md-shamimsham11.repl.co/">  Md Shamim Akhter</a> | All rights reserved.</p>
  </footer>

</div>